html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.row {
  margin: 0px;
}

.col {
  padding: 16px;
}

.navbar-brand {
  font-weight: bolder !important;
}

.nav-link {
  font-weight: bolder !important;
}

.nav-link:hover {
  color: orange !important;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.image:hover {
  cursor: pointer;
}

.article {
  padding: 8px;
}

.short-line {
  width: 10%;
  border: 1px solid orange;
}

.spacer {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-image {
  max-width: 100%;
  max-height: auto;
}

.close {
  float: right;
  text-align: end;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

.grid-container {
  display: flex;
  justify-content: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  margin: auto;
}

.left {
  color: #888;
  font-size: xx-large;
  font-weight: 900
}

.left:link {
  text-decoration: none;
}

.left:visited {
  text-decoration: none;
}

.left:hover {
  text-decoration: none;
  font-weight: bolder !important;
  color: orange !important;
}

.right {
  color: #888;
  font-size: xx-large;
  font-weight: 900
}

.right:link {
  text-decoration: none;
}

.right:visited {
  text-decoration: none;
}

.right:hover {
  text-decoration: none;
  font-weight: bolder !important;
  color: orange !important;
}

.left:hover .right:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
